section{
    display:inline-block;
    background-color: rgb(255, 0, 119);

}
h3{
text-align: center;
background-color: rgb(225, 25, 209);
margin: 10px;

}
h2{background-color: antiquewhite;
margin: 10;}
h1{text-align: center;
-webkit-text-fill-color:blueviolet}
img{
    display:inline-flex;
    width: 350px;
    border:dashed white 3px;
    padding:5px
}
sectiom-n{
    padding: 3px;
    height: 150px;
    margin:0%
}
