section{
    display:inline-block;
    background-color: rgb(255, 0, 119);
    vertical-align: top;

}
h3{
text-align: center;
background-color: rgb(225, 25, 209);
margin: 10px;

}
h2{background-color: antiquewhite;
margin: 10;}
h1{text-align: center;
-webkit-text-fill-color:blueviolet}
img {
    width: 350px;
    border:dashed white 3px;
    padding:5px;
    vertical-align: top;
    height:max-content

section{
    padding: 2px;;
    height: 50px;
    margin: 0% 10px;
}
ol{
    font-style: italic;
    -webkit-text-fill-color: bisque;
}
